@import "../settings/colors.scss";

.Form {
      width: 100%;
      max-width: 400px;
      padding: 2rem 1rem;
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: grayscale(50%) blur(5px);
      display: grid;
      grid-gap: 1.5rem;
      justify-items: center;

      div {
            display: grid;
            grid-gap: 0.75rem;
            padding: 1rem;
            width: 100%;

            input {
                  padding: 1rem;
                  display: block;
                  width: 90%;
                  background: $light-grey;
                  color: $black;
                  justify-self: center;
                  &::placeholder {
                        color: $english-violet;
                  }
                  border: none;
                  outline: none;
                  border-radius: 2rem;
            }

            button {
                  width: 50%;
                  padding: 1rem;
                  background: $english-violet;
                  color: $white;
                  justify-self: center;
                  cursor: pointer;
                  &:hover {
                        background: $white;
                        color: $english-violet;
                  }
                  border: none;
                  outline: none;
                  appearance: none;
                  border-radius: 2rem;

            }
      }

      span {
            display: flex;
            flex-direction: row;
            justify-content: center;

            button {
                  width: 3rem;
                  height: 3rem;
                  border-radius: 50%;
                  margin: 0 0.5rem;
                  border: none;
                  appearance: none;
                  cursor: pointer;

                  &:nth-of-type(1) {
                        background-color: #3B5998;
                        background-image: url("../../public/icons/facebook.svg");
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                  }

                  &:nth-of-type(2) {
                        background-color: #DE5246;
                        background-image: url("../../public/icons/google.svg");
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                  }

                  &:hover {
                        box-shadow: 0 0 7px 4px rgba(145, 145, 145, 0.4)
                  }
            }
      }

      a {
            text-decoration: none;
            font-weight: bold;
            color: $english-violet;
            cursor: pointer;
      }
}