.Index {
      width: 100vw;
      background-color: #ee5522;
      background-image: url("../../public/images/Sun-Tornado.svg");
      background-attachment: fixed;
      background-size: cover; 
      display: grid;
      align-items: center;
      justify-items: center;
}